<h2 class="text-center my-5">Licenses</h2>
<div class="card">
  <div class="card-header">
  <p class="fs-5">Overview</p>
  <div class="card-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Available Licenses</th>
        <th>Quantity</th>
        <th>Expires</th>
        <th>Alert</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let license of licenses" [ngClass]="{ 'table-danger': isExpiringSoon(license.validTo) }">
        <td>{{license.id}}</td>
        <td>{{license.applicationName}}</td>
        <td>{{license.availableLicenses}}</td>
        <td>{{license.quantity}}</td>
        <td>{{ license.validTo | date }}</td>
        <td>{{ isExpiringSoon(license.validTo) ? 'expires within two weeks' : '' }}</td>
        <td>
            <button class="btn btn-primary m-2 btn-sm" (click)="showLicenseDetails(license.id)">Users</button>
            <button class="btn btn-primary m-2 btn-sm"(click)="editLicense(license.id)">Edit</button>
            <button class="btn btn-danger btn-sm" (click)="decreaseQuantity(license)" [disabled]="license.availableLicenses === 0">Delete</button>


        </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
</div>
